.dashboard {
  width: 90%;
  margin: 53px auto 87px;
  background-color: #101317;
  box-shadow: 2px 3px 42px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  min-height: 501px;
  color: white;
  padding-bottom: 100px;
}
.dashboard > h1 {
  font-weight: 500;
}


  //Responsive
  @media (max-width  :1200px) {
    .dashboard{
      width: 96%;
    }
  }
    //Responsive
    @media (max-width  :900px) {
    .dashboard{
      padding-bottom: 20px;
      width: 98%;
    }
    }