.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 22px 10px 0;
  div {
    display: flex;
    margin-left: -14%;
    margin-right: 24%;
    align-items: center;
    h2{
      font-size: 18px;
      margin-left: 6px;
    }
  }
  .workout{
    position: relative;
    right: 4px;
  }
}

  //Responsive
  @media (max-width  :1200px) {
    .header{
      div{
        margin-left: -12.1%;
        margin-right: 20%;
      }
      .workout{
        right: 13px;
      }
    }
  }
  //Responsive
  @media (max-width  :900px) {
    .header{
      div{
        margin-left: -10.1%;
        margin-right: 17.4%;
        h2{
          font-size: 16px;
        }
      }
      .workout{
        right: 3px;
      }
    }
  }

  @media (max-width : 767px) {
    .header{
      display: none;
    }
  }